*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.jar

# Eclipse Plugin (UML) #
*.ucls

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse Files & Folder #
/bin/
.checkstyle
.settings/edu.umd.cs.findbugs.core.prefs
.idea/*
*.iml
*/MANIFEST.MF

# Database File #
database.xml

# Stored Google Sync Related Config #
/sync/*

# Log Files #
/logs/
*.log

*.MF
